{% extends "base_lcd.html" %}
{% load static %}
{% load l10n %}

{% block navbar %}
<div class="container-fluid py-2 mb-0 bg-blue">
    <div class="container">
        <!-- row LOGO -->
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    {% if request.resolver_match.url_name != 'complete_store_configuration' %}
                        <a class="text-decoration-none fs-2 logo-white" href="{% url 'dashboard' %}">PRO PHONE MANAGER</a>
                    {% else %}
                        <a class="text-decoration-none fs-2 logo-white" href="{% url 'landing' %}">PRO PHONE MANAGER</a>
                    {% endif %}
                {% else %}
                    <a class="text-decoration-none fs-2 logo-white" href="{% url 'landing' %}">PRO PHONE MANAGER</a>
                {% endif %}
            </div>
            <div class="col text-end">
                <div class="col text-end" style="margin-top: 10px;">
                    {% if request.resolver_match.url_name != 'complete_store_configuration' %}
                        <a class="text-decoration-none logo-white small-font" style="font-size: 24px;" href="{% url 'settings_view' %}" {% if not profile_complete %}disabled{% endif %}>Mon Compte ⚙</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
<!-- HEADER -->
<div class="container-lg mt-4 mb-3">
	<!-- row page title -->
	<div class="row fs-2 logo-blue">
		<div class="col-12">{% block page_title %}{% endblock page_title %}</div>
		<div class="col-12"><hr></div>
	</div>
</div>

<!-- PAGE CONTENT -->
<div class="container-lg mb-5 ps-md-4">
	{% block page_content %}{% endblock page_content %}
</div>

{% endblock content %}

{% block footer %}
<div class="text-white fs-6 fw-bold text-center">PRO PHONE MANAGER 2024</div>
{% endblock footer %}
