{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Créer un écran cassé{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <h2>Créer un écran cassé</h2>

    <form method="post" id="brokenScreenForm" action="{% url 'create_brokenscreen' %}">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger">
          <strong>Erreur:</strong> {{ form.errors }}
        </div>
      {% endif %}

      <div class="mb-3">
        <label for="id_brand_field" class="form-label">Marque</label>
        <select class="form-select" name="brand_field" id="id_brand_field" required>
            <option value="" disabled selected>Sélectionnez une marque</option>  <!-- Option par défaut -->
            {% for brand in brand_list %}
            <option value="{{ brand.screenbrand }}">{{ brand.screenbrand }}</option>
            {% endfor %}
        </select>
      </div>
    

      <div class="mb-3">
        <label for="id_model_field" class="form-label">Modèle</label>
        <select class="form-select" name="model_field" id="id_model_field" required>
          <!-- Les options seront mises à jour dynamiquement via AJAX -->
        </select>
      </div>

      <div class="mb-3">
        <label for="id_unique_ref_field" class="form-label">Référence unique</label>
        <select class="form-select" name="unique_ref_field" id="id_unique_ref_field" required>
          {% for ref in ref_unique_list %}
            <option value="{{ ref.id }}">{{ ref.value }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Ajoutez d'autres champs du formulaire selon vos besoins -->

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
  </div>

  <!-- Votre script JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function() {
    $('#id_brand_field').change(function() {
        var brandId = $(this).val();
        if (brandId) {
            var url = '/htmx_get_modeles_from_brand/?brand_field=' + brandId;
            $.ajax({
                url: url,
                dataType: 'html',
                success: function(data) {
                    // Uncomment the line below to update the "Modèle" dropdown
                    $('#id_model_field').html(data);
                },
                error: function() {
                    alert('Une erreur s\'est produite lors de la récupération des modèles.');
                }
            });
        }
    });
});

</script>



{% endblock content %}
