{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block page_title %}
    <span>🏠 Home</span>
    <span>
        <a class="btn btn-sm btn-outline-blue float-end{% if broken_screens.count == 0 %} disabled{% endif %}" href="{% url 'expedier_mes_ecrans' %}">
            <span class="me-2">📲</span>
            <span>Expédier mes écrans</span>
        </a>
    </span>
    <span>
        <a class="btn btn-sm btn-outline-blue float-end" href="{% url 'create_brokenscreen' %}">
            <span class="me-2">📲</span>
            <span>Ajouter un écran</span>
        </a>
    </span>
{% endblock page_title %}

{% block page_content %}
    <!-- DEBUT Stock & Opportunités -->
    <div class="row mb-4">
        <!-- DEBUT Stock -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <ul class="list-group font-monospace shadow-sm">
                <li class="list-group-item logo-blue fs-5">📦 Stock {% if brand %}{{ brand.screenmodel|title }}{% elif recycler %}{{ recycler|title }}{% else %}total{% endif %}</li>
                <li class="list-group-item fs-6">
                    <span>Nombre d'écrans</span>
                    <span class="float-end">{{ items_count }}</span>
                </li>
                <li class="list-group-item fs-6">
                    <span>Valeur estimée</span>
                    <span class="float-end">{{ items_value |floatformat:2}} €</span>
                </li>
                {% if request.resolver_match.url_name == 'dashboard' %}
                    <li class="list-group-item text-end">
                        <a href="{% url 'stock_all' %}" class="btn btn-sm btn-outline-blue{% if items_count == 0 %} disabled{% endif %}">Voir en détail</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- DEBUT Opportunités -->
        <div class="col-12 col-md-6 col-lg-4 mb-4 fs-5 text-blue">
            <ul class="list-group font-monospace shadow-sm">
                <li class="list-group-item logo-blue fs-5">🌟 Opportunités</li>
                <li class="list-group-item fs-6">
                    <span>Nombre d'opportunités</span>
                    <span class="float-end">{{ opportunities_count }}</span>
                </li>
                <li class="list-group-item fs-6">
                    <span>Gain potentiel estimé</span>
                    <span class="fw-bold text-success float-end">+ {{ opportunities_value |floatformat:2 }} €</span>
                </li>
                <li class="list-group-item text-end">
                    <a href="{% url 'opportunities' %}" class="btn btn-sm btn-outline-blue{% if opportunities_count == 0 %} disabled{% endif %}">Voir en détail</a>
                </li>
            </ul>
        </div>
    </div>

    {% if recap_brand_table|length > 0 %}
        <!-- Stock Marque -->
        <div class="row mb-4">
            <div class="mb-3 fs-5 text-blue">📱 Stock par marque</div>
            
            {% for brand_info in recap_brand_table %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <ul class="list-group font-monospace shadow-sm">
                        <li class="list-group-item logo-blue fs-5">
                            <img src="{% static 'img/brand_logos/' %}{{ brand_info.screenmodel__screenbrand }}.svg" class="me-2" width="20px" height="20px">{{ brand_info.screenmodel__screenbrand|title }}
                        </li>
                        <li class="list-group-item fs-6">
                            <span>Nombre d'écrans</span>
                            <span class="float-end">{{ brand_info.items_count_brand }}</span>
                        </li>
                        <li class="list-group-item fs-6">
                            <span>Valeur totale</span>
                            <span class="float-end">{{ brand_info.total_value |floatformat:2}} €</span>
                        </li>
                        <li class="list-group-item text-end">
                            <a href="{% url 'stock_brand' brand_ref=brand_info.screenmodel__screenbrand %}" class="btn btn-sm btn-outline-blue">Voir en détail</a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <!-- Aucun écran en stock pour le moment, affichez un tableau avec des valeurs par défaut -->
        <div class="row mb-4">
            <div class="col-12 col-md-6 col-lg-4">
                <ul class="list-group font-monospace shadow-sm">
                    <li class="list-group-item logo-blue fs-5">
                        <span>Stock par Marque</span>
                    </li>
                    <li class="list-group-item fs-6">
                        <span>Nombre d'écrans</span>
                        <span class="float-end">0</span>
                    </li>
                    <li class="list-group-item fs-6">
                        <span>Valeur totale</span>
                        <span class="float-end">0.00 €</span>
                    </li>
                    <li class="list-group-item text-end">
                        <span class="btn btn-sm btn-outline-blue disabled">Voir en détail</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% if recap_recycler_table|length > 0 %}
        <!-- Stock Recycleur -->
        <div class="row mb-4">
            <div class="mb-3 fs-5 text-blue">👨‍🔧 Stock par recycleur</div>
            
            {% for recycler_info in recap_recycler_table %}
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <ul class="list-group font-monospace shadow-sm">
                        <li class="list-group-item logo-blue fs-5">
                            {% if recycler_info.recycler__company_name is None %}
                                <span class="me-2">❓</span>
                            {% else %}
                                <span class="me-2">👨‍🔧</span>
                            {% endif %}
                            <span>{{ recycler_info.recycler__company_name|default_if_none:"Non attribué"|title }}</span>
                        </li>
                        <li class="list-group-item fs-6">
                            <span>Nombre d'écrans</span>
                            <span class="float-end">{{ recycler_info.items_count_brand }}</span>
                        </li>
                        <li class="list-group-item fs-6">
                            <span>Valeur estimée</span>
                            <span class="float-end">{{ recycler_info.total_value_recycler|default_if_none:'0'|floatformat:2 }} €</span>
                        </li>
                        <li class="list-group-item text-end">
                            {% if recycler_info.recycler__company_name %}
                                <a href="{% url 'stock_recycler' recycler_ref=recycler_info.recycler__company_name %}" class="btn btn-sm btn-outline-blue">Voir en détail</a>
                            {% else %}
                                <span class="btn btn-sm btn-outline-blue disabled">Voir en détail</span>
                            {% endif %}
                        </li>
                        
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <!-- Aucun écran en stock pour le moment, affichez un tableau avec des valeurs par défaut -->
        <div class="row mb-4">
            <div class="col-12 col-md-6 col-lg-4">
                <ul class="list-group font-monospace shadow-sm">
                    <li class="list-group-item logo-blue fs-5">
                        <span>Stock par Recycleur</span>
                    </li>
                    <li class="list-group-item fs-6">
                        <span>Nombre d'écrans</span>
                        <span class="float-end">0</span>
                    </li>
                    <li class="list-group-item fs-6">
                        <span>Valeur estimée</span>
                        <span class="float-end">0.00 €</span>
                    </li>
                    <li class="list-group-item text-end">
                        <span class="btn btn-sm btn-outline-blue disabled">Voir en détail</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock page_content %}
