{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Diagnostic {{ broken_screen.ref_unique_list }}{% endblock title %}

{% block page_title %}📱 Diagnostic écran <span class="badge rounded-pill float-end font-monospace fs-6 text-bg-{% if not broken_screen.is_diag_done %}danger{% elif broken_screen.is_diag_done and not broken_screen.quotation %}warning{% elif broken_screen.is_diag_done and broken_screen.quotation %}success{% else %}danger{% endif %}">{{ broken_screen.ref_unique_list }}</span>
{% endblock page_title %}

{% block page_content %}
<div class="row mb-4 md-mb-5 mb-lg-5">
    <div class="col-12 col-md-9 col-lg-10 mx-auto">
        <ul class="list-group shadow-sm">
            <li class="list-group-broken_screen fs-5 fw-bold bg-blue py-3 text-center">{{ question|default:"L’écran est-il original ?"|safe }}</li>
            <li class="list-group-broken_screen fs-5 fw-bold py-5 text-center">
                <form id="responseForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="broken_screen" id="broken_screen" value="{{ broken_screen.ref_unique_list }}">
                    <input type="hidden" name="qid" id="qid" value="{{ qid|default:1 }}">
                    <div class="d-grid gap-2 col-10 col-lg-6 mx-auto">
                        <div class="btn-group btn-group-lg" role="group" aria-label="Groupe de boutons radio basique">
                            <input type="radio" class="btn-check" name="la_reponse" id="{{ question_number|default:1 }}_oui" value="oui" autocomplete="off" required>
                            <label class="btn btn-outline-success" for="{{ question_number|default:1 }}_oui">Oui</label>

                            <input type="radio" class="btn-check" name="la_reponse" id="{{ question_number|default:1 }}_non" value="non" autocomplete="off" required>
                            <label class="btn btn-outline-danger" for="{{ question_number|default:1 }}_non">Non</label>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<script>
    document.querySelectorAll('input[name="la_reponse"]').forEach((input) => {
        input.addEventListener('change', () => {
            // Réinitialiser les couleurs des boutons
            document.getElementById('{{ question_number|default:1 }}_oui').classList.remove('btn-dark', 'btn-outline-success');
            document.getElementById('{{ question_number|default:1 }}_non').classList.remove('btn-dark', 'btn-outline-danger');

            // Définir la couleur du bouton en fonction de la sélection de l'utilisateur
            if (input.value === 'oui') {
                document.getElementById('{{ question_number|default:1 }}_oui').classList.add('btn-success');
            } else {
                document.getElementById('{{ question_number|default:1 }}_non').classList.add('btn-danger');
            }

            // Attendre pendant 1 seconde avant de soumettre le formulaire
            setTimeout(() => {
                // Passer à la question suivante (modifier l'id 'responseForm' si nécessaire)
                document.getElementById('responseForm').submit();
            }, 100); // 1000 millisecondes = 1 seconde
        });
    });
</script>



{% endblock page_content %}
