{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Diagnostic {{ item.ref_unique }}{% endblock title %}

{% block page_title %}📱 Diagnostic écran <span class="badge rounded-pill float-end font-monospace fs-6 text-bg-{% if not item.is_diag_done %}danger{% elif item.is_diag_done and not item.quotation %}warning{% elif item.is_diag_done and item.quotation %}success{% else %}danger{% endif %}">{{ item.ref_unique }}</span>
{% endblock page_title %}

{% block page_content %}
<div class="row mb-4 md-mb-5 mb-lg-5">
	<div class="col-12 col-md-9 col-lg-8 mx-auto">
		<ul class="list-group shadow-sm">
			<li class="list-group-item fs-5 fw-bold bg-blue py-3">{{ question|default:"L’écran est il original ?"|safe }}</li>
			<li class="list-group-item fs-5 fw-bold py-5">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item" id="item" value="{{ item.ref_unique }}">
                    <input type="hidden" name="qid" id="qid" value="{{ qid|default:1 }}">
                    <div class="d-grid gap-2 col-10 col-lg-6 mx-auto">
                        <div class="btn-group btn-group-lg" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="la_reponse" id="{{ question_number|default:1 }}_oui" value="oui" autocomplete="off" required>
                            <label class="btn btn-outline-success" for="{{ question_number|default:1 }}_oui">Oui</label>
                            
                            <input type="radio" class="btn-check" name="la_reponse" id="{{ question_number|default:1 }}_non" value="non" autocomplete="off" required>
                            <label class="btn btn-outline-danger" for="{{ question_number|default:1 }}_non">Non</label>
                        </div>
                    </div>
                </li>
            </ul>
            <button type="submit" class="btn btn-lg btn-outline-blue float-end mt-4">Répondre</button>
        </form>
    </div>
</div>
{% endblock page_content %}