{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block page_title %}
<div class="mb-3 fs-5 text-blue">👨‍🔧 Merci de choisir à quel recycleur vous souhaitez expédier vos écrans cassés:</div>
{% for recycler_info in recap_recycler_table %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <ul class="list-group font-monospace shadow-sm">
            <li class="list-group-item logo-blue fs-5">
                {% if recycler_info.recycler__company_name is None %}
                    <span class="me-2">❓</span>
                {% else %}
                    <span class="me-2">👨‍🔧</span>
                {% endif %}
                <span>{{ recycler_info.recycler__company_name|default_if_none:"Non attribué"|title }}</span>
            </li>
            <li class="list-group-item fs-6">
                <span>Nombre d'écrans à expédier</span>
                <span class="float-end">{{ recycler_info.items_count_brand }}</span>
            </li>
            <li class="list-group-item fs-6">
                <span>Valeur estimée</span>
                <span class="float-end">{{ recycler_info.total_value_recycler|default_if_none:'0'|floatformat:2 }} €</span>
            </li>
            <li class="list-group-item text-end">
                {% if recycler_info.recycler__company_name %}
                    <a href="{% url 'expedier_mes_ecrans_recycler' recycler_ref=recycler_info.recycler__company_name %}" class="btn btn-sm btn-outline-blue">Expédier</a>
                {% else %}
                    <span class="btn btn-sm btn-outline-blue disabled">Expédier</span>
                {% endif %}
            </li>
        </ul>
    </div>
{% endfor %}
{% endblock page_title %}
