{% extends "base_landing.html" %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<!-- Tagline container -->
<div class="container-fluid mb-5 pb-5 pt-3 bg-gris shadow-sm">
	<div class="container mb-4 text-end"><a href="{% url 'landing' %}" role="button" class="btn btn-sm btn-outline-blue">Accès client</a></div>
	<div class="mb-4 mb-md-4 mb-lg-5 logo-blue display-1 text-center">PRO PHONE MANAGER</div>
	<div class="mb-5 px-md-3 fs-1 text-blue text-center">L'outil <span class="fw-bold">gratuit</span> de gestion de stocks d'écrans cassés <br class="d-inline d-md-none d-lg-inline">incluant un comparateur<br class="d-none d-md-inline d-lg-none"> des offres de rachats</div>
	<div class="text-center"><a href="{% url 'user_registration' %}" role="button" class="btn btn-lg btn-blue shadow-sm">Créez votre compte gratuit</a></div>	
</div>

<!-- Vidéo container -->
<div class="container-lg mb-5">
	<div class="mb-2 fs-4 text-blue"><span class="logo-blue">PRO PHONE MANAGER</span> en vidéo</div>
	<div class="ratio ratio-16x9">
		<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="PRO PHONE MANAGER video demo" frameborder="0" allowfullscreen></iframe>
		{% comment %} <iframe class="embed-responsive-item" src="{% static 'lcd-demo.mp4' %}" style="max-width: 100%; height: 80%;" allowfullscreen></iframe> {% endcomment %}
	</div>
</div>

<!-- Advantage banner container -->
<div class="container-fluid advantage-banner mb-5 py-3 py-md-4 py-lg-5 fs-1 text-center fw-bold bg-gris border-start-0 border-end-0">Optimisez la revente de vos écrans cassés</div>

<!-- Advantage cards container -->
<div class="container-lg mb-5 py-lg-4">
	<div class="row row-cols-1 row-cols-md-2 g-4">
		<div class="col">
			<div class="card h-100">
				<div class="card-header bg-blue fs-4">Comparez les recycleurs</div>
				<div class="card-body bg-white fs-5">Trouvez de nouveaux partenaires vérifiés pour revendre vos écrans cassés.</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<div class="card-header bg-blue fs-4">Obtenez les prix de rachat</div>
				<div class="card-body bg-white fs-5">Bénéficiez en temps réel de la meilleure offre de rachat pour vos écrans cassés.</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<div class="card-header bg-blue fs-4">Identifiez les grades</div>
				<div class="card-body bg-white fs-5">Répondez à quelques questions sur l'état de l'écran pour définir automatiquement son grade par recycleur.</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<div class="card-header bg-blue fs-4">Imprimez vos étiquettes</div>
				<div class="card-body bg-white fs-5">Utilisez votre imprimante actuelle pour créer des références autocollantes uniques par écrans.</div>
			</div>
		</div>
	</div>
</div>

<!-- CTA button container -->
<div class="container-lg mb-5 text-center">
	<a href="{% url 'landing' %}" role="button" class="btn btn-lg btn-blue shadow-sm">Créez votre compte gratuit</a>
</div>

<!-- Recycleur banner container -->
<div class="container-fluid advantage-banner mb-5 py-3 py-md-4 py-lg-5 fs-1 text-center fw-bold bg-gris border-start-0 border-end-0">Mise à jour des prix de rachat des recycleurs</div>

<!-- Recycleur card container -->
<div class="container-md mb-5 py-lg-4">
	<div class="row mb-3 mb-md-5 text-center">
		<div class="col-6 col-md-4 col-lg m-auto pb-4"><img class="img-thumbnail p-2 bg-gris-fonce" src="{% static 'img/recycler_logos/paylcd.png' %}"></div>
		<div class="col-6 col-md-4 col-lg m-auto pb-4"><img class="img-thumbnail p-2 bg-gris-fonce" src="{% static 'img/recycler_logos/recycle-mon-lcd.png' %}"></div>
		<div class="col-6 col-md-4 col-lg m-auto pb-4"><img class="img-thumbnail p-2 bg-white" src="{% static 'img/recycler_logos/lcd-phone.jpg' %}"></div>
		<div class="col-6 col-md-4 col-lg m-auto pb-4"><img class="img-thumbnail p-2" src="{% static 'img/recycler_logos/smartgrade.png' %}"></div>
		<div class="col-6 col-md-4 col-lg m-auto pb-4"><img class="img-thumbnail p-2 bg-black" src="{% static 'img/recycler_logos/agoratrade.png' %}"></div>
	</div>
	<div class="row">
		<div class="col-11 mx-auto px-3 py-2 p-md-3 fs-3 text-blue text-center bg-white rounded" style="border:2px solid navy">Mais aussi des acheteurs indépendants et vérifiés qui se déplacent jusqu'à vous</div>
	</div>
</div>

<!-- Resume banner container -->
<div class="container-fluid advantage-banner mb-5 py-3 py-md-4 py-lg-5 fs-1 text-center fw-bold bg-gris border-start-0 border-end-0">Vous aussi, rejoignez <div class="logo-blue">PRO PHONE MANAGER</div></div>

<!-- Resume list container -->
<div class="container-lg mb-5 text-blue">
	<ul class="list-group">
		<li class="list-group-item py-3 text-white fs-4 bg-blue">Service entièrement gratuit</li>
		<li class="list-group-item py-3 text-blue fs-4">Utilisation sans frais, ni CB pour les boutiques, ce sont les recycleurs qui payent.</li>
		
		<li class="list-group-item py-3 text-white fs-4 bg-blue">Disponible sur navigateur PC et mobile</li>
		<li class="list-group-item py-3 text-blue fs-4">Aucune installation nécessaire. Fonctionne sur Edge, Chrome, Firefox...</li>
		
		<li class="list-group-item py-3 text-white fs-4 bg-blue">Gestion facile de votre stock d'écrans cassés</li>
		<li class="list-group-item py-3 text-blue fs-4">Ajouter, archiver, rechercher, lister, imprimer...</li>
		
		<li class="list-group-item py-3 text-white fs-4 bg-blue">Prix de rachat automatiques par recycleur et par grade</li>
		<li class="list-group-item py-3 text-blue fs-4">Le système définit le grade et les prix de rachat selon l'état de l'écran et les offres des recycleurs.</li>
		
		<li class="list-group-item py-3 text-white fs-4 bg-blue">Impression d'étiquettes à références uniques</li>
		<li class="list-group-item py-3 text-blue fs-4">Utiliser votre imprimante de bureau et <a href="https://www.amazon.fr/AVERY-Pochette-%C3%89tiquettes-Adresses-Blanches/dp/B08494J431" class="text-decoration-none text-blue" target="blank"><u>des étiquettes autocollantes.</u></a></li>
	</ul>
</div>

<!-- CTA button container -->
<div class="container-lg mb-5 text-center">
	<a href="{% url 'landing' %}" role="button" class="btn btn-lg btn-blue shadow-sm">Créez votre compte gratuit</a>
</div>

{% endblock content %}

