<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    
    {% block head %}
    <title>{% block title %}ProPhoneManager{% endblock title %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'listings/saaspik/assets/img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'listings/saaspik/assets/img/minilogo.png' %}"">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'listings/saaspik/assets/img/minilogo.png' %}">
    <link rel="mask-icon" href="{% static 'listings/saaspik/assets/img/fav/safari-pinned-tab.svg' %}" color="#fa7070">

    <meta name="msapplication-TileColor" content="#fa7070">
    <meta name="theme-color" content="#fa7070">

    <!-- Dependency Styles -->
    <link rel="stylesheet" href="{% static 'listings/saaspik/dependencies/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'listings/saaspik/dependencies/fontawesome/css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'listings/saaspik/dependencies/swiper/css/swiper.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'listings/saaspik/dependencies/wow/css/animate.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'listings/saaspik/dependencies/magnific-popup/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'listings/saaspik/dependencies/components-elegant-icons/css/elegant-icons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'listings/saaspik/dependencies/simple-line-icons/css/simple-line-icons.css' %}" type="text/css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="{% static 'listings/saaspik/assets/css/app.css' %}" type="text/css">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Satisfy&display=swap" rel="stylesheet">
    
    {% endblock head %}
</head>


<body id="home-version-1" class="home-version-3" data-style="default">

    <a href="#main_content" data-type="section-switch" class="return-to-top">
        <i class="fa fa-chevron-up"></i>
    </a>

    <div class="page-loader">
        <div class="loader">
            <!-- Loader -->
            <div class="blobs">
                <div class="blob-center"></div>
                <div class="blob"></div>
                <div class="blob"></div>
                <div class="blob"></div>
                <div class="blob"></div>
                <div class="blob"></div>
                <div class="blob"></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                    </filter>
                </defs>
            </svg>

        </div>
    </div><!-- /.page-loader -->

    <div id="main_content">

        <!--=========================-->
        <!--=        Navbar         =-->
        <!--=========================-->
        <header class="site-header header_trans-fixed" data-top="992">
            <div class="container">
                <div class="header-inner">
                    <div class="toggle-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <!-- /.toggle-menu -->

                    <div class="site-mobile-logo">
                        <a href="{% url 'landing' %}" class="logo">
                            <img src="{% static 'listings/saaspik/assets/img/logo_transparent.png' %}" alt="site logo" class="main-logo">
                            <img src="{% static 'listings/saaspik/assets/img/logo_transparent.png' %}" alt="site logo" class="sticky-logo">
                        </a>
                    </div>

                    <nav class="site-nav">
                        <div class="close-menu">
                            <span>Close</span>
                            <i class="ei ei-icon_close"></i>
                        </div>

                        <div class="site-logo">
                            <a href="{% url 'landing' %}" class="logo">
                                <img src="{% static 'listings/saaspik/assets/img/logo_transparent.png' %}" alt="site logo" class="main-logo">
                                <img src="{% static 'listings/saaspik/assets/img/logo_transparent.png' %}" alt="site logo" class="sticky-logo">
                            </a>
                        </div>
                        <!-- /.site-logo -->

                        <div class="menu-wrapper" data-top="992">
                            <ul class="site-main-menu">

                                <li><a href="{% url 'about' %}">About</a></li>


                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>

                            <div class="nav-right">
                                <a href="{% url 'login' %}" class="nav-btn">Se connecter </a>
                            </div>
                        </div>
                        <!-- /.menu-wrapper -->

                    </nav><!-- /.site-nav -->
                </div><!-- /.header-inner -->
            </div><!-- /.container -->
        </header><!-- /.site-header -->


        <!--==========================-->
        <!--=         Banner         =-->
        <!--==========================-->
        <section class="banner banner-one">
            <div class="circle-shape" data-parallax='{"y" : 230}'><img src="{% static 'listings/saaspik/media/banner/circle-shape.png' %}" alt="circle"></div>
<div class="container smaller-container">
                <div class="banner-content-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner-content">
                                <h1 class="banner-title wow pixFadeUp" data-wow-delay="0.3s">
                                    La Solution 🥇
                                    pour la Gestion de vos Écrans Cassés.
                                </h1>
                        
                                <p class="description wow pixFadeUp" data-wow-delay="0.5s">
                                    Gagner du Temps, de l'Argent et de l'Espace.
                                </p>
                        
                                <a href="{% url 'user_registration' %}" class="pxs-btn banner-btn wow pixFadeUp" data-wow-delay="0.6s">Essai Gratuit (sans CB)</a>
                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="pxs-btn banner-btn wow pixFadeUp play-btn popup-video" data-wow-delay="0.6s">Video de Présentation</a>
                                

                            </div><!-- /.banner-content -->
                        </div><!-- /.col-lg-6 -->
                        
                        

                        <div class="col-lg-6">
                            <div class="promo-mockup wow pixFadeLeft">
                                <img src="{% static 'listings/saaspik/assets/img/macbook2.png' %}" alt="mockup">
                            </div><!-- /.promo-mockup -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.banner-content-wrap -->
            </div><!-- /.container -->

            <div class="bg-shape">
                <img src="{% static 'listings/saaspik/media/banner/shape-bg.png' %}" alt="">
            </div>
        </section><!-- /.banner banner-one -->


<!-- ========================== -->
<!-- =         Feature        = -->
<!-- ========================== -->
<section class="featured-five">
    <div class="container">
        <div class="section-title style-three text-center">
            <h2 class="title wow pixFadeUp" data-wow-delay="0.2s">
                Pourquoi les réparateurs <br>
                ❤️ ProPhone<span>Manager</span>? <br><br> Parce que nous tenons nos promesses👍
            </h2>
        </div><!-- /.section-title -->

        <style>
            .normal-text {
                font-weight: normal; /* ou font-weight: normal; */
            }
        </style>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-four wow pixFadeLeft" data-wow-delay="0.5s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'listings/saaspik/assets/img/temps.png' %}" alt="">
                    </div>
                    <div class="pixsass-icon-box-content" id="toggle-content">
                        <h3 class="pixsass-icon-box-title">Gagnez du Temps.</h3>
                        <p>
                            Chaque écran endommagé est associé à un numéro unique, fournissant des détails complets tels que la marque, le modèle et le grade.<br>
                            Que ce soit pour une expédition à un recycleur ou une vente directe à un itinérant, le processus est grandement simplifié.
                            <details>
                                <summary>Cliquez pour dérouler</summary> <br> En cas d'expédition, vous savez précisément quel écran envoyer à quel recycleur, avec toutes les informations nécessaires sur la marque, le modèle, le grade et le prix estimé.<br>
                                Si le recycleur se rend chez vous, plus besoin de surveiller chaque écran à tester ; vous avez déjà toutes les informations à portée de main. Vous n'aurez qu'à vérifier les écrans sur lesquels vous n'êtes pas d'accord.
                                <br>Dans tous les cas, vous gagnerez du temps.
                            </details>
                        </p>

                        <svg class="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="270px">
                            <path fill-rule="evenodd" fill="rgb(253, 248, 248)" d="M-0.000,269.999 L-0.000,-0.001 L370.000,-0.001 C370.000,-0.001 347.889,107.879 188.862,112.181 C35.160,116.338 -0.000,269.999 -0.000,269.999 Z" />
                        </svg>
                    </div>
                </div><!-- /.pixsass-box style-four -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-four wow pixFadeLeft" data-wow-delay="0.7s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'listings/saaspik/assets/img/argent.png' %}" alt="">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title">Gagnez de l'Argent.</h3>
                        <p>
                            ProPhoneManager vous offre la possibilité de définir le grade de vos écrans cassés. <br>Vous obtiendrez ainsi en temps réel, les offres des différents recycleurs. <br>Si une meilleure offre que celle que vous avez choisie est disponible, vous êtes averti.<br><br>
                            <details>
                                <summary>Cliquez pour dérouler</summary> <br>Découvrez également de nouveaux partenaires vérifiés pour la revente, élargissant ainsi vos possibilités de revente. <br>Actuellement plus de 250 modèles sont pris en charge et de nouveaux modèles sont ajoutés chaque mois. <br>Certains de ces modèles n'étaient probablement pas acceptés par vos recycleurs précédents. <br>Dans tous les cas, vous gagnerez de l'argent.
                            </details>
                        </p>
                    </div>

                    <svg class="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="270px">
                        <path fill-rule="evenodd" fill="rgb(253, 248, 248)" d="M-0.000,269.999 L-0.000,-0.001 L370.000,-0.001 C370.000,-0.001 347.889,107.879 188.862,112.181 C35.160,116.338 -0.000,269.999 -0.000,269.999 Z" />
                    </svg>
                </div><!-- /.pixsass-box style-four -->
            </div><!-- /.col-lg-4 col-md-6 -->

            <div class="col-lg-4 col-md-6">
                <div class="saaspik-icon-box-wrapper style-four wow pixFadeLeft" data-wow-delay="0.9s">
                    <div class="saaspik-icon-box-icon">
                        <img src="{% static 'listings/saaspik/assets/img/espace.png' %}" alt="">
                    </div>
                    <div class="pixsass-icon-box-content">
                        <h3 class="pixsass-icon-box-title">Gagnez de l'Espace.</h3>
                        <p>
                            Un espace bien rangé se traduit par un gain de place significatif, une considération essentielle dans une boutique où chaque mètre carré compte. <br>Chaque écran est défini par son numéro unique, facilitant la gestion précise et organisée de votre inventaire.
                            <details>
                                <summary>Cliquez pour dérouler</summary><br>Éliminez l'encombrement des écrans qui traînent dans vos tiroirs ou sur vos étagères, optimisez ainsi l'efficacité de votre espace et améliorez l'expérience globale dans votre établissement.<br>Les retours de nos clients indiquent clairement un gain d'espace significatif.<br>Dans tous les cas, vous gagnerez de l'espace.
                            </details>
                        </p>
                    </div>

                    <svg class="layer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370px" height="270px">
                        <path fill-rule="evenodd" fill="rgb(253, 248, 248)" d="M-0.000,269.999 L-0.000,-0.001 L370.000,-0.001 C370.000,-0.001 347.889,107.879 188.862,112.181 C35.160,116.338 -0.000,269.999 -0.000,269.999 Z" />
                    </svg>
                </div><!-- /.pixsass-box style-four -->
            </div><!-- /.col-lg-4 col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.featured -->

        <!--===============================-->
        <!--=         Service Tab         =-->
        <!--===============================-->
        <section class="featured-five">
            <div class="container">
                <div class="section-title style-three text-center">
                    <h2 class="title wow pixFadeUp" data-wow-delay="0.2s">
                        Des fonctionnalités adaptées 📲
                    </h2>
                </div><!-- /.section-title -->

                <div class="gp-tabs gp-tab-style-two">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <nav class="pix-tab-navs wow fadeInUp" data-wow-delay="0.7s">
                                <ul class="gp-tabs-navigation style-two">
                                    <li class="active tab-nav-item" data-content="mockup">
                                        <i class="fas fa-plus"></i>
                                        <a href="#0" class="acc-btn">Créer</a>


                                        <div class="content" style="display: block;">
                                            <p>
                                                Plus de 250 modèles différents repris.<br> De nouveaux modèles chaques mois,<br> La meilleur offre du marché.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="tab-nav-item" data-content="mockup2">
                                        <i class="fas fa-stethoscope"></i>
                                        <a href="#0" class="acc-btn">Diagnostiquer</a>
                                    
                                        <div class="content" style="display: none;">
                                            <p>
                                                Attribuer un grade à votre écran en 8 questions. Le diagnostic s'adapte au modèle  du téléphone.
                                            </p>
                                        </div>
                                    </li>
                                    
                                    <li class="tab-nav-item" data-content="mockup3">
                                        <i class="fas fa-balance-scale"></i>
                                        <a href="#0" class="acc-btn">Comparer</a>

                                        <div class="content" style="display: none;">
                                            <p>
                                                Comparez les offres de rachat de différents recycleurs dans votre pays. Les offres sont mises à jour quotidiennement.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="tab-nav-item" data-content="mockup4">
                                        <i class="fas fa-search-dollar"></i>
                                        <a href="#0" class="acc-btn">Saisir une Opportunité</a>

                                        <div class="content" style="display: none;">
                                            <p>
                                                Si une meilleur offre que celle que vous avez choisi est disponible, vous êtes averti.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="tab-nav-item" data-content="mockup5">
                                        <i class="fab fa-ups"></i>
                                        <a href="#0" class="acc-btn">Expédier</a>

                                        <div class="content" style="display: none;">
                                            <p>
                                                Grace à la reference unique attribué à chaque écran, vous retrouvez facilement les écrans à envoyer à chaque recycleur.
                                            </p>
                                        </div>
                                    </li>
                                </ul> <!-- gp-tabs-navigation -->
                            </nav>
                        </div><!-- /.col-lg-5 -->
                        <div class="col-lg-6">
                            <div class="gp-tabs-content" style="height: auto;">
                                <li data-content="mockup" class="pix-tab-item active wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="inspect-tab-image">
                                        <div class="image-top">
                                            <img src="{% static 'listings/saaspik/assets/img/creeecran.png' %}" alt="mockup">
                                        </div>
                                    </div>
                                </li>

                                <li data-content="mockup2" class="pix-tab-item wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="inspect-tab-image">
                                            <div class="image-top">
                                                <img src="{% static 'listings/saaspik/assets/img/diag.png' %}" alt="image">
                                            </div>
                                        </div>
                                    </li>

                                    <li data-content="mockup3" class="pix-tab-item wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="inspect-tab-image">
                                            <div class="image-top">
                                                <img src="{% static 'listings/saaspik/assets/img/comparer.png' %}" alt="image">
                                            </div>
                                        </div>
                                    </li>

                                    <li data-content="mockup4" class="pix-tab-item wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="inspect-tab-image">
                                            <div class="image-top">
                                                <img src="{% static 'listings/saaspik/assets/img/opportunities.png' %}" alt="image">
                                            </div>
                                        </div>
                                    </li>

                                    <li data-content="mockup5" class="pix-tab-item wow fadeInUp" data-wow-delay="0.7s">
                                        <div class="inspect-tab-image">
                                            <div class="image-top">
                                                <img src="{% static 'listings/saaspik/assets/img/expedier.png' %}" alt="image">
                                            </div>
                                        </div>
                                    </li>

                                </div> <!-- gp-tabs-content -->
                            </div><!-- /.tab-content-inner -->
                            <div class="tabs-elemnt wow fadeInDown"></div>
                            <div class="tabs-elemnt-small wow fadeInDown"></div>

                        </div><!-- /.col-lg-7 -->
                    </div><!-- /.row -->
                </div>
            </div>
            <!-- /.container -->
        </div>


         <!--==========================-->
        <!--=         Feature        =-->
        <!--==========================-->
        <section class="featured-six">
            <div class="container">
                <div class="section-title style-three text-center">
                    <h2 class="title wow pixFadeUp" data-wow-delay="0.2s">
                        Une prise en main immédiate<br>
                        et sans contrainte 😎
                    </h2>
                </div><!-- /.section-title -->

                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="feature-image-wrapper wow pixFadeLeft">
                            <img src="{% static 'listings/saaspik/assets/img/ipadpor.png' %}" alt="mockup">
                        </div>
                        <!-- /.feature-image-wrapper -->
                    </div>
                    <!-- /.col-lg-5 -->

                    <div class="col-lg-7 col-md-7">
                        <div class="saaspik-icon-box-wrapper style-six wow pixFadeRight" data-wow-delay="0.4s">
                            <div class="saaspik-icon-box-icon">
                                <img src="{% static 'listings/saaspik/assets/img/cloud.png' %}" alt="mockup">
                            </div>
                            <div class="pixsass-icon-box-content">
                                <h3 class="pixsass-icon-box-title">
                                    <a href="#">Aucun téléchargement, tout est dans le cloud<br> Inscrivez vous et c'est parti.</a>
                                </h3>
                            </div>
                        </div><!-- /.pixsass-box style-six -->

                        <div class="saaspik-icon-box-wrapper style-six wow pixFadeRight" data-wow-delay="0.5s">
                            <div class="saaspik-icon-box-icon">
                                <img src="{% static 'listings/saaspik/assets/img/multiscreen.png' %}" alt="mockup">
                            </div>
                            <div class="pixsass-icon-box-content">
                                <h3 class="pixsass-icon-box-title">
                                    <a href="#">Ordinateur, Smartphone, Tablette, Android, MacOs Utilisez notre solution sur tous vos appareils.</a>
                                </h3>
                            </div>
                        </div><!-- /.pixsass-box style-six -->

                        <div class="saaspik-icon-box-wrapper style-six wow pixFadeRight" data-wow-delay="0.6s">
                            <div class="saaspik-icon-box-icon">
                                <img src="{% static 'listings/saaspik/assets/img/easyuse.png' %}" alt="mockup">
                            </div>
                            <div class="pixsass-icon-box-content">
                                <h3 class="pixsass-icon-box-title">
                                    <a href="#">
                                        Une solution simple et inuitive<br> Pas besoin de compétences en informatique.
                                    </a>
                                </h3>
                            </div>
                        </div><!-- /.pixsass-box style-six -->

                        <div class="saaspik-icon-box-wrapper style-six wow pixFadeRight" data-wow-delay="0.7s">
                            <div class="saaspik-icon-box-icon">
                                <img src="{% static 'listings/saaspik/assets/img/gestion.png' %}" alt="mockup">
                            </div>
                            <div class="pixsass-icon-box-content">
                                <h3 class="pixsass-icon-box-title">
                                    <a href="#">
                                        Gestion facile de votre stock d'écrans cassés<br> Ajouter, archiver, rechercher, lister, imprimer...

                                    </a>
                                </h3>
                            </div>
                        </div><!-- /.pixsass-box style-six -->
                    </div>
                    <!-- /.col-lg-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->

            <div class="down-bg">
                <img src="{% static 'listings/saaspik/media/background/down-bg.png' %}" alt="down-bg">
            </div>
        </section><!-- /.featured -->

        
 
<!--===========================-->
<!--=         Pricing         =-->
<!--===========================-->
<section class="pricing-two">
    <div class="container">
        <div class="section-title color-two text-center">
            <h2 class="title wow pixFadeUp" data-wow-delay="0.3s">
                Des prix transparents et dégressifs 🤝<br>
            </h2>
        </div>
        <!-- /.section-title -->


        <div class="row advanced-pricing-table">
            <div class="col-lg-4">
                <div class="pricing-table style-two price-two wow pixFadeLeft" data-wow-delay="0.5s">
                    <div class="pricing-header pricing-amount">
                        <div class="monthly_price">
                            <h2 class="price">€19.99/mo</h2>
                        </div>
                        <!-- /.monthly_price -->

                        <h3 class="price-title">Forfait Mensuel</h3>
                        <p>Sans engagement</p>
                    </div>
                    <!-- /.pricing-header -->

                    <ul class="price-feture">
                        <li class="have">Single User</li>
                        <li class="have">Accès illimité</li>
                        <li class="have">Sans engagement</li>
                        <li class="have">Hotline Support 24/7</li>
                        <li class="have">Free Updates</li>
                    </ul>

                    <div class="action text-left">
                        <a href="#" class="pix-btn btn-outline-two">Get Started</a>
                    </div>
                </div>
                <!-- /.pricing-table -->
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="pricing-table color-two style-two price-two featured wow pixFadeLeft" data-wow-delay="0.7s">
                    <div class="trend">
                        <p>Popular</p>
                    </div>

                    <div class="pricing-header pricing-amount">
                        <div class="monthly_price">
                            <h2 class="price">€149.99/an</h2>
                        </div>
                        <!-- /.monthly_price -->

                        <h3 class="price-title">Accès annuel</h3>
                        <p>Réduction de 37,5% comparé au Forfait Mensuel</p>
                    </div>
                    <!-- /.pricing-header -->

                    <ul class="price-feture">
                        <li class="have">Single User</li>
                        <li class="have">Accès illimité</li>
                        <li class="have">Sans engagement</li>
                        <li class="have">Hotline Support 24/7</li>
                        <li class="have">Free Updates</li>
                    </ul>

                    <div class="action text-left">
                        <a href="#" class="pix-btn btn-outline-two">Get Started</a>
                    </div>
                </div>
                <!-- /.pricing-table -->
            </div>
            <!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="pricing-table color-three style-two price-two wow pixFadeLeft" data-wow-delay="0.9s">

                    <div class="pricing-header pricing-amount">
                        <div class="monthly_price">
                            <h2 class="price">€299.99/1x</h2>
                        </div>
                        <!-- /.monthly_price -->

                        <h3 class="price-title">Accès à vie</h3>
                        <p>Utilisez notre solution à vie</p>
                    </div>
                    <!-- /.pricing-header -->

                    <ul class="price-feture">
                        <li class="have">Single User</li>
                        <li class="have">Accès illimité</li>
                        <li class="have">Sans engagement</li>
                        <li class="have">Hotline Support 24/7</li>
                        <li class="have">Free Updates</li>
                    </ul>

                    <div class="action text-left">
                        <a href="#" class="pix-btn btn-outline-two">Get Started</a>
                    </div>
                </div>
                <!-- /.pricing-table -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.advanced-pricing-table -->
    </div>
    <!-- /.container -->
</section>
<!-- /.pricing -->






 <!--==================================-->
        <!--=         Call To Action         =-->
        <!--==================================-->
        <section class="call-to-action action-padding">
            <div class="overlay-bg"><img src="{% static 'listings/saaspik/media/background/ellipse.png' %}" alt="bg"></div>
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-7">
                        <div class="action-content style-two wow pixFadeUp">
                            <h2 class="title">
                                Une Question, Une Précision 🤔<br>
                            </h2>
                        </div>
                        <!-- /.action-content -->
                    </div>
                    <!-- /.col-lg-7 -->

                    <div class="col-lg-5 text-right">
                        <a href="contact" class="pix-btn btn-light btn-big scroll-btn wow pixFadeUp">Contactez nous</a>
                    </div>
                    <!-- /.col-lg-5 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.call-to-action -->


        <!--===============================-->
        <!--=         Testimonial         =-->
        <!--===============================-->
        <section class="testimonials-three">

            <div class="container">
                <div class="section-title text-center">
                    <h2 class="title-two wow pixFadeUp" data-wow-delay="0.3s">
                        Plus de <span>3 boutiques dans le monde 🌐</span> font déjà confiance à ProPhoneManager. <br>
                        Vous aussi 🫵 passez à la gestion professionnel de vos écrans cassés.
                    </h2>
                </div><!-- /.section-title -->

                <div id="testimonial-wrapper-three">
                    <div class="swiper-container wow pixFadeUp" data-wow-delay="0.5s" id="testimonial-slider-three" data-speed="700" data-autoplay="10000" data-perpage="1" data-space="90" data-breakpoints='{"768": {"spaceBetween": 50}, "640": {"spaceBetween": 30}}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-three">

                                    <div class="avatar">
                                        <img src="{% static 'listings/saaspik/media/testimonial/4.jpg' %}" alt="testimonial">
                                    </div>
                                    <!-- /.avatar -->

                                    <div class="testimonial-content">
                                        <div class="testimonial-bio">
                                            <div class="bio-info">
                                                <h3 class="name">Desmond Eagle</h3>
                                                <span class="job">Web designer</span>
                                            </div>
                                        </div>
                                        <!-- /.testimonial-bio -->
                                        <p>Je suis utilisateur de l'app. Je reçois un acheteur une fois par mois pour tester une centaine d'écrans. c'était une demi journée et je devais être avec lui, maintenant c'est 2h et j'interviens que de temps en temps. en + je lui fais monter les prix en lui montrant les offres</p>
                                    </div>
                                    <!-- /.testimonial-content -->


                                </div>
                                <!-- /.testimonial-three -->
                            </div>

                            <div class="swiper-slide">
                                <div class="testimonial-three">

                                    <div class="avatar">
                                        <img src="{% static 'listings/saaspik/media/testimonial/4.jpg' %}" alt="testimonial">
                                    </div>
                                    <!-- /.avatar -->

                                    <div class="testimonial-content">
                                        <div class="testimonial-bio">
                                            <div class="bio-info">
                                                <h3 class="name">Desmond Eagle</h3>
                                                <span class="job">Web designer</span>
                                            </div>
                                        </div>
                                        <!-- /.testimonial-bio -->
                                        <p>Application simple d'utilisation, je m'en sers tous les jours; J'ai rentabilisé mon accès annuel à mon premier envoi d'écran. </p>
                                    </div>
                                    <!-- /.testimonial-content -->


                                </div>
                                <!-- /.testimonial-three -->
                            </div>

                            <div class="swiper-slide">
                                <div class="testimonial-three">

                                    <div class="avatar">
                                        <img src="{% static 'listings/saaspik/media/testimonial/4.jpg' %}" alt="testimonial">
                                    </div>
                                    <!-- /.avatar -->



                                    <div class="testimonial-content">
                                        <div class="testimonial-bio">
                                            <div class="bio-info">
                                                <h3 class="name">Desmond Eagle</h3>
                                                <span class="job">Web designer</span>
                                            </div>
                                        </div>
                                        <!-- /.testimonial-bio -->
                                        <p>Je valide à 100%; Tout est carré et bien organisé, Plus besoin de perdre du temps à comparer les offres des différents racheteurs. Je sais directement à qui envoyer mes écrans cassés au meilleur prix; </p>
                                    </div>
                                    <!-- /.testimonial-content -->


                                </div>
                                <!-- /.testimonial-three -->
                            </div>

                        </div><!-- /.swiper-wrapper -->

                        <div class="slider-nav">
                            <div id="slide-prev" class="swiper-button-prev">
                                <div class="arrow"></div>
                            </div>
                            <div id="slide-next" class=" swiper-button-next">
                                <div class="arrow"></div>
                            </div>
                        </div>

                    </div>
                    <!-- /.swiper-containe -->

                    <div class="quote">
                        <img src="{% static 'listings/saaspik/media/testimonial/quote2.png' %}" alt="">
                    </div>
                </div>
                <!-- /#testimonial-wrapper -->
            </div>
            <!-- /.container -->
        </section><!-- /.testimonial -->

        <!--=============================-->
        <!--=         Newsletter        =-->
        <!--=============================-->
        <section class="newsletter-two" id="newsletter">
            <div class="container">

                <div class="newsletter-content-two text-center wow pixFadeUp">

                  <p class="description">
                    Les abonnés à notre newsletter bénéficient de conseils sur la vente d'écrans endommagés, les nouvelles adhésions de recycleurs, l'ajout de nouveaux modèles d'écrans, ainsi que des informations sur d'éventuelles fluctuations de prix. Vous êtes les bienvenus.
                </div>
                <!-- /.newsletter-content -->

                <form action="php/subscribe.php" method="post" class="newsletter-form-two wow pixFadeUp" data-pixsaas="newsletter-subscribe">
                    <div class="newsletter-inner">

                        <input type="email" name="email" class="form-control" id="newsletter-form-email" placeholder="Entrez votre Email" required>
                        <button type="submit" name="submit" id="newsletter-submit" class="pix-btn btn-light btn-big scroll-btn wow pixFadeUp">
                            <span class="btn-text">Subscribe</span>
                        </button>
                        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                    </div>
                    <!-- /.newsletter-inner -->

                    <div class="clearfix"></div>
                    <div class="form-result alert">
                        <div class="content"></div>
                    </div>
                    <!-- /.form-result-->
                </form>

            </div>
            <!-- /.container -->

            <div class="scroll-circle wow pixFadeUp">
                <img src="{% static 'listings/saaspik/media/background/circle12.png' %}" data-parallax='{"y" : -230}' alt="circle6">
            </div>
        </section>
        <!-- /.newsletter -->

        <!--=========================-->
        <!--=        Footer         =-->
        <!--=========================-->
        <footer id="footer" class="footer-three">
            <div class="container">
                <div class="footer-inner wow pixFadeUp">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="widget footer-widget">
                                <h3 class="widget-title">Company</h3>

                                <ul class="footer-menu">
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Dashboard & Tool</a></li>
                                    <li><a href="#">Our Portfolio</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Get In Touch</a></li>
                                </ul>
                            </div>
                            <!-- /.widget footer-widget -->
                        </div>
                        <!-- /.col-lg-3 col-md-6 -->

                        <div class="col-lg-3 col-md-6">
                            <div class="widget footer-widget">
                                <h3 class="widget-title">Services</h3>

                                <ul class="footer-menu">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Development</a></li>
                                    <li><a href="#">Wordpress</a></li>
                                    <li><a href="#">Online Marketing</a></li>
                                    <li><a href="#">Content</a></li>
                                </ul>
                            </div>
                            <!-- /.widget footer-widget -->
                        </div>
                        <!-- /.col-lg-3 col-md-6 -->

                        <div class="col-lg-3 col-md-6">
                            <div class="widget footer-widget">
                                <h3 class="widget-title">Digital Experience</h3>

                                <ul class="footer-menu">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Mobile App Design</a></li>
                                    <li><a href="#">UX / UI design</a></li>
                                    <li><a href="#">Dashboard & Tool</a></li>
                                    <li><a href="#">Logo & Identity</a></li>
                                </ul>
                            </div>
                            <!-- /.widget footer-widget -->
                        </div>
                        <!-- /.col-lg-3 col-md-6 -->

                        <div class="col-lg-3 col-md-6">
                            <div class="widget footer-widget">
                                <h3 class="widget-title">Our Address</h3>

                                <p>
                                    Lavaca Street, Suite 24, Road Apt New York, USA
                                </p>

                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.widget footer-widget -->
                        </div>
                        <!-- /.col-lg-3 col-md-6 -->
                    </div>
                    <!-- /.row -->

                </div><!-- /.footer-inner -->

                <div class="site-info">
                    <div class="copyright">
                        <p>© 2023 All Rights Reserved Design by <a href="http://www.pixelsigns.art" target="_blank">PixelSigns</a></p>
                    </div>

                    <ul class="site-info-menu">
                        <li><a href="#">Privacy & Policy.</a></li>
                        <li><a href="#">Faq.</a></li>
                        <li><a href="#">Terms.</a></li>
                    </ul>
                </div><!-- /.site-info -->
            </div><!-- /.container -->

            <div class="map-bg">
                <img src="{% static 'listings/saaspik/media/background/map2.png' %}" alt="map-bg">
            </div>
        </footer><!-- /#footer -->


    </div><!-- /#site -->

<!-- Dependency Scripts -->
<script src="{% static 'listings/saaspik/dependencies/jquery/jquery.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/swiper/js/swiper.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/jquery.appear/jquery.appear.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/wow/js/wow.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/countUp.js/countUp.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/jquery.parallax-scroll/js/jquery.parallax-scroll.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'listings/saaspik/dependencies/gmap3/js/gmap3.min.js' %}"></script>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&#038;ver=2.1.6'></script>

<!-- Site Scripts -->
<script src="{% static 'listings/saaspik/assets/js/header.js' %}"></script>
<script src="{% static 'listings/saaspik/assets/js/app.js' %}"></script>


<script>
    // Attendre que le document soit prêt
    document.addEventListener("DOMContentLoaded", function() {
        // Simuler un clic sur l'onglet "Créer" après un délai court
        setTimeout(function() {
            document.querySelector('.tab-nav-item[data-content="mockup"]').click();
        }, 100);
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $(".more-btn").click(function() {
            $("#toggle-content").slideToggle();
        });
    });
</script>

</body>

</html>