{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Opportunités{% endblock title %}

{% block page_title %}🌟 Opportunités{% endblock page_title %}

{% block page_content %}
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mb-4 fs-5 text-blue">
        <ul class="list-group font-monospace shadow-sm">
            <li class="list-group-item logo-blue fs-5">🌟 Opportunités</li>
            <li class="list-group-item fs-6">
                <span>Nombre d'opportunités</span>
                <span class="float-end">{{ opportunities_count }}</span>
            </li>
            <li class="list-group-item fs-6">
                <span>Gain potentiel estimé</span>
                <span class="float-end">{{ opportunities_value }} €</span>
            </li>
        </ul>
    </div>
</div>

<div class="row mb-4">
    <!-- smartphone -->
    <div class="col-12 d-block d-md-none mb-4">
        {% for broken_screen in all_broken_screens %}
        <ul class="list-group mb-2 font-monospace">
            <li class="list-group-item p-2 p-md-2 p-lg-3">
                <div class="row mb-1">
                    <div class="col-9">
                        <span>📆</span>
                        <span class="fs-6">{{ broken_screen.date_joined|date:'d/m/Y' }}</span>
                    </div>
                    <div class="col-3 text-end">
                        <span class="badge rounded-pill float-end text-bg-{% if not broken_screen.is_diag_done %}danger{% elif broken_screen.is_diag_done and not broken_screen.quotations.all %}warning{% elif broken_screen.is_diag_done and broken_screen.quotations.all %}success{% else %}danger{% endif %}">{{ broken_screen.uniquereference.value }}</span>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">
                        <span>{{ broken_screen.screenmodel.brand.company_name|title }} {{ broken_screen.screenmodel.company_name }}</span>
                    </div>
                    <div class="col-4 text-end">
                        <span>{% if broken_screen.grade %}Grade {{ broken_screen.grade }}{% else %}<span>🔎</span> ❓{% endif %}</span>	
                    </div>
                </div>
                <div class="row mt-2 text-center">
                    <div class="col-12">
                        <span class="text-danger">{{ broken_screen.quotations.first.recycler.company_name }} {{ broken_screen.quotations.first.price }} €</span>
                    </div>
                    <div class="col-12 text-center">
                        <span class"text-success">⬇</span>	
                    </div>
                    <div class="col-12">
                        <span class="text-success fw-bold">{{ broken_screen.best_offer.recycler.company_name }} {{ broken_screen.best_offer.price }} €</span>	
                    </div>
                </div>
                <a href="{% url 'quotation' broken_screen.uniquereference.value %}" class="stretched-link"></a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <!-- laptop -->
    <div class="col-12 d-none d-md-block col-lg-10 mb-4">
        {% for broken_screen in all_broken_screens %}
        <ul class="list-group mb-2 fs-6 font-monospace">
            <li class="list-group-item px-md-1 px-lg-2">
                <div class="row">
                    <div class="col-md-1 text-start">
                        <span class="badge rounded-pill font-monospace bg-success">{{ broken_screen.uniquereference }}</span>
                    </div>
                    <div class="col-md-2 text-start">
                        <span>{{ broken_screen.screenmodel}}</span>
                    </div>
                    <div class="col-md-3 text-start">
                        <span>{{ broken_screen.recycler.company_name }} <span class="text-danger">{{ broken_screen.price }} €</span></span>	
                    </div>
                    <div class="col-md-1 text-start">
                        <span class="fw-bold text-success"> >>> </span>	
                    </div>
                    <div class="col-md-3 text-start">
                        <span>{{ broken_screen.best_offer.recycler.company_name }} {{ broken_screen.best_offer.price }} €</span>	
                    </div>
                    <div class="col-md-2 text-end">
                        <span class="fw-bold text-success">+{{ broken_screen.offer_delta }} € </span>	
                    </div>
                </div>
                <a href="{% url 'quotation' broken_screen.uniquereference.value %}" class="stretched-link"></a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock page_content %}
