{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Mon compte{% endblock title %}

{% block page_title %}
<span>⚙ Mon compte</span>
<span>
    <a class="btn btn-sm btn-danger float-end" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#logoutModal">Déconnection</a>
</span>
{% endblock page_title %}

{% block page_content %}
<!-- DEBUT  Mon Profile -->
<div class="row mb-4 md-mb-5 mb-lg-5">
	<div class="col-12 col-md-8 col-lg-7 mb-3 fs-5 text-blue">👨‍🚀 Mon Profile</div>
	<div class="col-12 col-md-8 col-lg-7">
		<ul class="list-group shadow-sm">
			<li class="list-group-item fs-6">
				<span>{{ user.username }}</span>
				<span class="float-end font-monospace text-blue fs-6 dropdown-toggle">détails</span>
				<a class="stretched-link" data-bs-toggle="collapse" href="#collapseProfile" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
			</li>
		</ul>
		<ul class="list-group collapse shadow-sm" id="collapseProfile">
            <li class="list-group-item fs-6"><span class="me-2">🏢</span>{{ user.repairstore.company_name|upper }}</li>
            <li class="list-group-item fs-6"><span class="me-2">👨‍🚀</span>{{ user.repairstore.first_name|title }}</li>
			<li class="list-group-item fs-6"><span class="me-2">👨‍🚀</span>{{ user.repairstore.last_name|title }}</li>
			<li class="list-group-item fs-6"><span class="me-2">📫</span>{{ user.repairstore.address }}</li>
            <li class="list-group-item fs-6"><span class="me-2">🏙</span>{{ user.repairstore.postal_code }}</li>
			<li class="list-group-item fs-6"><span class="me-2">🏙</span>{{ user.repairstore.city|title }}</li>
			<li class="list-group-item fs-6"><span class="me-2">☎</span>{{ user.repairstore.phone_number }}</li>
            <li class="list-group-item fs-6">
                <span class="float-end">
                    <a href="{% url 'settings_edit_view' %}" class="btn btn-sm btn-outline-blue">Modifier mon profile</a>
                </span>
            </li>
        </ul>
	</div>
</div>


<!-- DEBUT Mes Envois -->
<div class="row mb-5">
    <div class="col-12 col-md-8 col-lg-7 mb-3 fs-5 text-blue">📦 Mes envois en cours</div>
    <div class="col-12 col-md-8 col-lg-7">
        {% if non_paid_packages|length == 0 %}
            <ul class="list-group shadow-sm">
                <li class="list-group-item fs-6">Pas d'envoi en cours</li>
            </ul>
        {% else %}
            <ul class="list-group shadow-sm">
                {% for package in non_paid_packages %}
                    <li class="list-group-item fs-6">
                        <span class="float-end font-monospace text-blue fs-6 dropdown-toggle" data-bs-toggle="collapse" href="#collapseShipments{{ package.reference }}" role="button" aria-expanded="false" aria-controls="collapseShipments{{ package.reference }}">détails</span>
                        📦 Colis - {{ package.reference }}
                    </li>
                    <div class="collapse" id="collapseShipments{{ package.reference }}">
                        <!-- Ajoutez ici les détails supplémentaires du package si nécessaire -->
                        <ul class="list-group shadow-sm">
                            {% for brokenscreen_field in package.get_brokenscreen_fields %}
                                <li class="list-group-item fs-6">
                                    <div class="row">
                                        <div class="col-md-2 text-start">
                                            <span class="badge rounded-pill font-monospace bg-success">{{ brokenscreen_field.uniquereference }}</span>
                                        </div>
                                        <div class="col-md-2 text-start">
                                            <span>{{ brokenscreen_field.screenbrand }}</span>
                                        </div>  
                                        <div class="col-md-3 text-start">
                                            <span>{{ brokenscreen_field.screenmodel }}</span>
                                        </div>  
                                        <div class="col-md-2 text-start">
                                            GRADE {{ brokenscreen_field.grade }}
                                        </div>
                                        <div class="col-md-2 text-start">
                                            <span>{{ brokenscreen_field.price }} €</span>
                                        </div>
                                        <div class="col-md-2 text-end">
                                            <!-- Ajoutez ici d'autres éléments si nécessaire -->
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            <!-- Ajoutez ici le bouton "Marquer comme payé" -->
                            <li class="list-group-item fs-6">
                                <a href="{% url 'mark_package_as_paid' reference=package.reference %}" class="btn btn-primary btn-sm float-end">Marquer ce package comme payé</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
        <!-- Message toujours présent -->
        <div class="alert alert-warning mt-2" role="alert">
            Si votre recycler vous a proposé un prix différent ou un grade différent, vous pourrez le modifier dans l'onglet 📦 Mes envois payés.
        </div>
    </div>
</div>
<!-- FIN Mes Envois -->




<div class="row mb-5">
    <div class="col-12 col-md-8 col-lg-7 mb-3 fs-5 text-blue">📦 Mes envois payés</div>
    <div class="col-12 col-md-8 col-lg-7">
        <ul class="list-group shadow-sm">
            {% for reference, package_info in packages_info.items %}
                {% if package_info.package.is_paid %}
                    <li class="list-group-item fs-6">
                        <span class="float-end font-monospace text-blue fs-6 dropdown-toggle" data-bs-toggle="collapse" href="#collapseShipments{{ reference }}" role="button" aria-expanded="false" aria-controls="collapseShipments{{ reference }}">détails</span>
                        📦 Colis - {{ reference }}
                    </li>
                    <div class="collapse" id="collapseShipments{{ reference }}">
                        <!-- Ajoutez ici les détails supplémentaires du package si nécessaire -->
                        <ul class="list-group shadow-sm">
                            {% for brokenscreen_field in package_info.brokenscreen_fields %}
                                <li class="list-group-item fs-6">
                                    <div class="row">
                                        <div class="col-md-2 text-start">
                                            <span class="badge rounded-pill font-monospace bg-success">{{ brokenscreen_field.uniquereference }}</span>
                                        </div>
                                        <div class="col-md-2 text-start">
                                            <span>{{ brokenscreen_field.screenbrand }}</span>
                                        </div>  
                                        <div class="col-md-3 text-start">
                                            <span>{{ brokenscreen_field.screenmodel }}</span>
                                        </div>  
                                        <div class="col-md-2 text-start">
                                            GRADE {{ brokenscreen_field.grade }}
                                        </div>
                                        <div class="col-md-2 text-start">
                                            <span>{{ brokenscreen_field.price }} €</span>
                                        </div>
                                        <div class="col-md-2 text-end">
                                            <!-- Ajoutez ici d'autres éléments si nécessaire -->
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            {% if not has_paid_packages %}
                <li class="list-group-item fs-6">Pas d'envoi payés actuellement</li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- FIN Mes Envois -->







<!-- DEBUT  Etiquettes -->
<div class="row mb-5">
	<div class="col-12 col-md-8 col-lg-7 mb-3 fs-5 text-blue">🖨 Imprimer étiquettes</div>
	<div class="col-12 col-md-8 col-lg-7">
		<ul class="list-group">
			<li class="list-group-item">
				<a href="{% url 'stickers' %}" class="btn btn-sm btn-outline-blue" target="blank">🏷 planche 65 étiquettes</a>
            </li>
		</ul>
	</div>
</div>

<!-- LOGOUT MODAL -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-bg-danger">
				<h5 class="modal-title" id="exampleModalLabel">Déconnection</h5>
			</div>
			<div class="modal-body fs-6">Voulez-vous vraiment vous déconnecter ?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-blue" data-bs-dismiss="modal">Annuler</button>
				<a href="{% url 'logout_view' %}" type="button" class="btn btn-danger">Me déconnecter</a>
			</div>
		</div>
	</div>
</div>

{% endblock page_content %}
