{% extends "base_webapp.html" %}
{% load static %}

{% block title %}Mettre à jour le Package{% endblock title %}

{% block page_title %}Mettre à jour le Package - {{ package.reference }}
{% endblock page_title %}

{% block page_content %}
<style>
  body {
    font-size: 16px; /* Ajustez la taille de la police de base pour tout le corps du document */
  }

  h1 {
    font-size: 1em; /* Ajustez la taille de la police pour les titres h1 */
  }

  label, select {
    font-size: 0.8em; /* Ajustez la taille de la police pour les étiquettes et les menus déroulants */
  }

  input {
    font-size: 1em; /* Ajustez la taille de la police pour les champs de saisie */
    width: 12%; /* Ajustez la largeur du champ de saisie */
  }

  select {
    width: 10%; /* Ajustez la largeur du menu déroulant */
  }

  /* Ajoutez d'autres styles CSS si nécessaire */
</style>


<form method="post" action="{% url 'update_package' reference=package.reference %}">
  {% csrf_token %}
  <ul class="list-group">
    {% for brokenscreen_instance in brokenscreen_instances %}
      <li class="list-group-item">
        <span class="badge rounded-pill font-monospace bg-success">{{ brokenscreen_instance.uniquereference }}</span>

        <label for="price_{{ brokenscreen_instance.uniquereference }}">Nouveau prix pour le {{ brokenscreen_instance.screenmodel }}:</label>
        <input type="text" name="price_{{ brokenscreen_instance.uniquereference }}" value="{{ brokenscreen_instance.price }}">

        <label for="grade_{{ brokenscreen_instance.uniquereference }}">Nouveau Grade pour le {{ brokenscreen_instance.screenmodel }}:</label>
        <select name="grade_{{ brokenscreen_instance.uniquereference }}">
          <option value="" selected disabled>Sélectionner le grade</option>
          <option value="A" {% if brokenscreen_instance.grade == 'A' %}selected{% endif %}>A</option>
          <option value="B" {% if brokenscreen_instance.grade == 'B' %}selected{% endif %}>B</option>
          <option value="C" {% if brokenscreen_instance.grade == 'C' %}selected{% endif %}>C</option>
          <option value="D" {% if brokenscreen_instance.grade == 'D' %}selected{% endif %}>D</option>
          <option value="E" {% if brokenscreen_instance.grade == 'E' %}selected{% endif %}>E</option>
          <option value="F" {% if brokenscreen_instance.grade == 'F' %}selected{% endif %}>F</option>
          <option value="G" {% if brokenscreen_instance.grade == 'G' %}selected{% endif %}>G</option>
          <option value="Fully Broken" {% if brokenscreen_instance.grade == 'Fully Broken' %}selected{% endif %}>Entièrement cassé</option>
          <option value="Aftermarket" {% if brokenscreen_instance.grade == 'Aftermarket' %}selected{% endif %}>De marché secondaire</option>
        </select>
      </li>
    {% endfor %}
  </ul>
<br>

  <div class="text-start">
    <button type="submit" class="btn btn-sm btn-outline-blue"">Mettre à jour</button>
  </div>
</form>
{% endblock page_content %}
